@model IEnumerable<APP_MVC_GStore.ReferenciaProductoAdm.usp_Admin_ListarProducto_Result>

@{
    ViewBag.Title = "Listado de Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Añadir Nuevo Producto", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.nomCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Actualizar", new {  id=item.idProd}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Eliminar", new {  id=item.idProd  })
            </td>
        </tr>
    }

</table>