@model APP_MVC_Datos.Model.TB_Producto

@{
    ViewBag.Title = "ComprarYa";
}

<h2>ComprarYa</h2>

<link rel="stylesheet" type="text/css" href="~/Content/estilos.css" media="screen" />
<div>
    <h4>TB_Producto</h4>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            <img width="200" src="@Url.Action("getImage", "AdminProducto", new { id = Model.idProd})" />
        </dd>

    </dl>
    <div>
        <span>
            @Html.DisplayNameFor(model => model.nomProd)
            <strong> :  </strong>
            @Html.DisplayFor(model => model.nomProd)
        </span><br />
        <span>
            @Html.DisplayNameFor(model => model.precio)
            <strong> :  </strong>
            @Html.DisplayFor(model => model.precio)
        </span><br />
        <span>
            @Html.DisplayNameFor(model => model.descripcion)
            <strong> :  </strong>
            @Html.DisplayFor(model => model.descripcion)
        </span><br />
    </div>
</div>
<p>
    <a class="btn btn-danger" href="@Url.Action("ListaProductos", "Carrito")">Volver</a>
    <a class="btn btn-success" href="#" id="comprarTodo">Pagar</a>
</p>





<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body col-xs-12 well predeterminado">
                <div class="creditCardForm">
                    <div class="heading">
                        <h1>Confirmar Compra</h1>
                    </div>
                    <div class="payment">
                        <div class="form-group owner">
                            <label for="owner">Owner</label>
                            <input type="text" class="form-control" id="owner" required />
                        </div>
                        <div class="form-group CVV">
                            <label for="cvv">CVV</label>
                            <input type="number" class="form-control" id="cvv" required />
                        </div>

                        <div class="form-group" id="card-number-field">
                            <label for="cardNumber">Card Number</label>
                            <input type="number" class="form-control" id="nroTarjeta" maxlength="16" required />
                        </div>
                        <div class="form-group" id="expiration-date">
                            <label>Expiration Date</label>
                            <input type="date" class="form-control" id="expirationDate" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="payment">
                    <form>
                        <div class="form-group" id="pay-now">
                            @*<input type="submit" value="Pagar/>*@
                            <a href="#" class="btn btn-success" id="confirmarCompra">Pagar</a>
                            @*<a class="btn btn-primary" id="agregarTarjeta">Agregar Tarjeta</a>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {


        $("#comprarTodo").click(function () {
            $("#myModal").modal('show');
        });
        $("#confirmarCompra").click(function () {
            validar();
        });

    });

     function validar() {
        if ($("#owner").val().length == 0) {
            alert('Ingrese Propietario');
            return false;
        }
        else if ($("#cvv").val().length == 0) {
            alert('Ingrese cvv');
            return false;
        }
        else if ($("#nroTarjeta").val().length != 16) {
            alert('Ingrese Numero de Tarjeta');
            return false;
        }
        else if ($("#expirationDate").val().length = 0) {
            alert('Ingrese Fecha de Expiracion');
            return false;
        } else {
             var url = "@Url.Action("Pagar", "Carrito", new { total = total})";
               return $("#confirmarCompra").attr("href", url);
        }
    }

</script>