@model IEnumerable<APP_MVC_Datos.Model.TB_Producto>
@{
    ViewBag.Title = "ListaProductos";
}

<h2>ListaProductos</h2>
<link rel="stylesheet" type="text/css" href="~/Content/estilos.css" media="screen" />
<br />
@using (Html.BeginForm())
{
    <div class="buscador">
        <strong>Ingrese Nombre del producto :</strong>
        <input type="text" name="nombre" value="@ViewBag.nombre"/>
        <strong></strong>
        <input type="image" value="Consultar" src="~/Content/Images/Lupa.png"  class="btnBuscar" />
        <br />
    </div>
}




<table class="table">
    <tr>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.idProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            <span>Dados</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="hidden idProductoGet">
                @Html.DisplayFor(modelItem => item.idProd)
            </td>
            <td>
                <a href="@Url.Action("ComprarYa", "Carrito", new { id = item.idProd})">
                    <img src="@item.foto" />
                </a>
            </td>
            <td class="producto">
                <span id="nombreProd">@Html.DisplayFor(modelItem => item.nomProd)</span><br />
            </td>
            <td>
                <span>@Html.DisplayFor(modelItem => item.precio)</span><br />
                <span>@Html.DisplayFor(modelItem => item.descripcion)</span><br />
                <span>@Html.DisplayFor(modelItem => item.TB_Categoria.nomCategoria)</span><br />
                <span>@Html.DisplayFor(modelItem => item.stock)</span><br />
            </td>
            <td>
                <a href="#" class="btn btn-danger" id="Acarrito">Agregar al carrito</a>
            </td>
            @*<td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }
</table>
<div class="panel-footer">
    <a href="@Url.Action("AgregaCarrito", "Carrito")" class="btn btn-success" id="Carrito">Ver Carrito</a>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Agregar al Carrito</h3>
            </div>
            <div class="modal-body">
                <strong>Producto:</strong>
                <strong id="nomProducto">
                </strong>
                <br />
                <strong>Ingrese cantidad del producto :</strong>
                <input type="number" name="cantidad" class="cantidad" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" id="agregar">Agregar</a>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

   $(document).ready(function () {
       var nombre = "";
       var idproducto = "";
       var cantidad;
       var url = '@Url.Action("AgregaCarrito", "Carrito")';
            $(".btn-danger").click(function () {

                $(this).parents("tr").find(".producto").each(function () {
                    nombre = $(this).text();
                    $("#nomProducto").text(nombre);
                });
                $(this).parents("tr").find(".idProductoGet").each(function () {
                    idproducto = $(this).html();
                });
                $("#myModal").modal('show');
            });
       $("#agregar").click(function (event)
       {
           cantidad = $(this).parent().parent().find(".cantidad").val();
           $.ajax({
               data: { id: idproducto, cantidad: cantidad },
               url: "@Url.Action("AgregaCarrito", "Carrito")",
               type: "post",
               success: function (response) {
                   alert("Producto: " + nombre + " agregado por " + cantidad + " unidades");
               },
               error: function (err, error) {
                   alert(error);
               }
           });
       });
   });

</script>
